<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.huazhuhotel.module_home">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:name="com.longshihan.mvpcomponent.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Base.AppTheme">
        <activity android:name=".purchase.PurchaseActivity"/>
        <activity android:name=".attention.ui.AttentionActivity"/>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>
        <meta-data
            android:name="debug.module_home.app.GlobalConfiguration"
            android:value="ConfigModule"/>

        <activity
            android:name=".main.ui.DOUGUOActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".sort.ui.SortListActivity"/>
        <activity android:name=".list.ui.ListActivity"/>
        <activity android:name=".detail.ui.GoodsDetailActivity"/>
        <activity android:name=".web.WebActivity"/>
        <activity android:name=".attention.ui.AttentionDetailActivity"/>
        <activity android:name=".collect.ui.CollectionActivity"/>
        <activity android:name=".login.LoginActivity">
        </activity>
        <activity android:name=".Mine.RecentLookActivity">
        </activity>
        <activity android:name=".control.ControlActivity">
        </activity>

        <service
            android:name=".control.service.ClockService"
            android:enabled="false"
            android:exported="false">
        </service>
    </application>

</manifest>