<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.huazhuhotel.module_home">

    <application
        android:name="com.longshihan.mvpcomponent.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Base.AppTheme">
        <meta-data
            android:name="debug.module_home.app.GlobalConfiguration"
            android:value="ConfigModule"/>

        <activity android:name=".main.ui.DOUGUOActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".sort.ui.SortListActivity">
        </activity>
        <activity android:name=".list.ui.ListActivity">
        </activity>
        <activity android:name=".detail.ui.GoodsDetailActivity">
        </activity>
    </application>

</manifest>